<h2>Order Confirmation</h2>

<p><em>Thank you for your money!</em></p>

<p><strong>Name:</strong>  <%= @order.name %> <br>
<strong>Email:</strong> <%= @order.email %><br><br></p>

<table class="table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
  </tr>
  <% @order.cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td>$<%= item.quantity * item.current_price / 100 %></td>
    </tr>
  <% end %>
</table>